/* @@author A0116603R */
/* ========== FONTS ==========*/
@font-face {
    font-family: PT Sans Narrow;
    font-style: normal;
    src: url("/fonts/PT_Sans-Narrow-Web-Regular.ttf");
}

@font-face {
    font-family: PT Sans;
    font-style: italic;
    src: url("/fonts/PT_Sans-Web-Italic.ttf");
}

@font-face {
    font-family: PT Sans;
    font-style: bold;
    src: url("/fonts/PT_Sans-Web-Bold.ttf");
}

/* ========== JAVAFX ELEMENTS ==========*/
.root {
    -fx-background-color: white;
    -fx-font-size: 12pt;
    -fx-font-family: "PT Sans Narrow";
    -fx-padding: 10;
}

.list-view {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0px;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0px;
}

/*========== TASKCARD ==========*/
.taskcard .label {
    -fx-text-fill: DarkSlateGrey;
}

.taskcard #id {
    -fx-padding: 0 4 0 0;
}

.taskcard #tags {
    -fx-font-size: 9pt;
    -fx-text-fill: DarkTurquoise;
    -fx-letter-spacing: -2px;
    -fx-padding: 0 0 4 4;
}

.taskcard #description {
    -fx-font-family: "PT Sans";
    -fx-font-style: italic;
    -fx-font-size: 9pt;
    -fx-text-fill: DarkGrey;
}

.taskcard #deadline {
    -fx-text-fill: DarkTurquoise;
}

.taskcard .date {
    -fx-font-size: 8pt;
    -fx-font-family: "PT Sans";
    -fx-font-weight: bold;
}

.taskcard .check-box *.box{
    -fx-background-color: #eeeeee;
    -fx-background-insets: 0;
    -fx-background-radius: 10, 10, 10;
}

/*========== COMMANDAREA ==========*/
.commandarea .label {
    -fx-font-size: 9pt;
    -fx-text-fill: DarkTurquoise;
}

.commandarea .text-field.error {
    -fx-focus-color: #dc0051;
    -fx-faint-focus-color: #dc00511A;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}
